<div class="larger">Poker statistics</div>
<br>
<div class='wrapper'>
  <table style="width: 500px">
    <th>Group</th>
    <th>Normal, %</th>
    <th>Fact, %</th>
    <th>Delta, %</th>
    <tr *ngFor="let value of values">
      <td>{{value.group}}</td>
      <td>
        <div>{{value.normal}}</div>
      </td>
      <td>
        <div>{{value.fact}}</div>
      </td>
      <td>
        <div>{{value.delta}}</div>
      </td>
    </tr>
  </table>
</div>
<br>

<div class="larger">Hands total: {{ns.length}}</div>
