<input type="file" #file style="display: none" (change)="onFileOpen()" />

<div style="display: flex; flex-wrap: wrap; align-items: center;">
  <button mat-button (click)="selectFile()">Load from file</button>
  <button mat-button [disabled]="!appService.playedHands" (click)="onSaveFileClick()">Save to file</button>
  <button mat-button [disabled]="!appService.playedHands" (click)="onResetHandsClick()">Reset hands</button>
  <mat-checkbox [(ngModel)]="successGroupsVisible" 
    style="font-weight: 500; padding-left: 16px">Show success groups</mat-checkbox>
</div>

<div style="display: flex; flex-wrap: wrap; align-items: center;">
  <div>
    <app-tablo></app-tablo>
    <div style="display: flex; padding: 1em">
      <app-card-pad></app-card-pad>
      <app-hands-history></app-hands-history>
    </div>
  </div>

  <app-success-groups *ngIf="successGroupsVisible">
  </app-success-groups>
</div>