td div {
    text-align: right;
    width: 70%;
}
th div {
    text-align: center;
}

.larger {
    font-size: larger;
    height: 2em;
}

th, td {
    padding: 0.5em;
}

.wrapper {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 10px;
    padding: 1em;
}



@media only screen and (max-width: 500px) {
    .hide-hands {
        display: none;
    }
}

.col {
    flex: 1;
}

.success {
    color: #009900;
}


.failure {
    color: #ff0000;
}

