.wrapper {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 10px;
    padding: 1em;
}

@media only screen and (max-width: 500px) {
    .hide-hands {
        display: none;
    }
}

td div {
    text-align: right;
    width: 70%;
}
th div {
    text-align: center;
}

th, td {
    padding: 0.5em;
}
